<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
  <h1>Exception Handler 테스트</h1>
  <h2>@ExceptionHandler 어노테이션 테스트</h2>
  <button onclick="location.href='controller-null'">NullPointerException</button>

  <button onclick="location.href='controller-user'">사용자 정의 Exception</button>

  <h2>@ControllerAdvice 어노테이션 테스트(전역)</h2>
  <button onclick="location.href='other-controller-null'">
      NullPointerException
  </button>

  <button onclick="location.href='other-controller-user'">
      사용자 정의 Exception
  </button>
  <button onclick="location.href='other-controller-array'">
      ArrayException
  </button>
</body>
</html>