<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.practice.employee.model.dao.EmployeeMapper">
    <select id="selectAllEmployees" resultType="EmployeeDTO">
        SELECT
                EMP_ID
              , EMP_NAME
              , EMP_NO
              , EMAIL
              , PHONE
              , DEPT_CODE
              , JOB_CODE
              , SALARY
              , QUIT_YN
          FROM employee
         WHERE QUIT_YN = 'N'
         ORDER BY EMP_ID
    </select>

    <select id="selectOneEmployee" resultType="EmployeeDTO">
        SELECT
                EMP_ID
              , EMP_NAME
              , EMP_NO
              , EMAIL
              , PHONE
              , DEPT_CODE
              , JOB_CODE
              , SALARY
              , QUIT_YN
          FROM  employee
        WHERE   EMP_ID = #{ empId }
    </select>

    <insert id="insertEmployee" parameterType="EmployeeDTO">
        INSERT
        INTO employee(
          EMP_ID
        , EMP_NAME
        , EMP_NO
        , EMAIL
        , PHONE
        , DEPT_CODE
        , JOB_CODE
        , SAL_LEVEL
        , SALARY
        , QUIT_YN )
        VALUES
        (#{ empId }, #{ empName }, #{ empNo }, #{ email }, #{ phone }, #{ deptCode }, #{ jobCode }, #{ salLevel }, #{ salary }, #{ quitYN })
    </insert>

    <update id="updateEmployee" parameterType="EmployeeDTO">
        UPDATE employee
        SET EMP_NAME = #{ empName }
        , EMP_NO = #{ empNo }
        , EMAIL = #{ email }
        , PHONE = #{ phone }
        , DEPT_CODE = #{ deptCode }
        , JOB_CODE = #{ jobCode }
        , SALARY = #{ salary }
        , QUIT_YN = #{ quitYN }
        WHERE EMP_ID = #{ empId }
    </update>

    <delete id="deleteEmployee" parameterType="EmployeeDTO" >
        DELETE
        FROM employee
        WHERE EMP_ID = #{ empId }
    </delete>
</mapper>