<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="config/connection-info.properties"/>
<!--    프로퍼티파일을 가져와 쓸 수 있다-->

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
<!--    스네이크 표기법은 자동으로 사용 가능-->

    <typeAliases>
        <typeAlias type="com.ohgiraffers.common.MenuDTO" alias="MenuDTO" />
    </typeAliases>
<!--    GPT: MyBatis에서 특정 Java 클래스와 별칭
(Alias)을 연결하여 사용할 수 있도록 정의하는 요소입니다
. 이를 사용하면 SQL 매핑 파일에서 클래스의 전체 패키지
경로를 생략하고 간략한 별칭을 이용해 표현할 수 있어 가독성이 향상됩니다.-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>

            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.ohgiraffers.section01.xml"/>
        <package name="com.ohgiraffers.section02.provider"/>
    </mappers>
</configuration>