<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mainPage</title>
</head>
<body>
<h1>view resolver 테스트</h1>
<h2>문자열로 뷰 이름 반환(forward)</h2>
<button onclick="location.href='string'">문자열로 뷰 이름 반환</button>

<h2>문자열로 redirect</h2>
<button onclick="location.href='string-redirect'">문자열로 redirect</button>

<h2>문자열로 redirect & flash attribute</h2>
<button onclick="location.href='string-redirect-attr'">문자열로 redirect & flash attribute</button>
<script>
    const flashMessage = `[[${flashMessage}]]`;
    if(flashMessage) alert(flashMessage);
</script>

<h2>ModelAndView 반환(forward)</h2>
<button onclick="location.href='modelandview'">ModelAndView</button>
<h2>ModelAndView로 redirect</h2>
<button onclick="location.href='modelandview-redirect'">ModelAndViewRedirect</button>

</body>
</html>